Click>=7.0
docker>=4.0.2
factory-boy
mysql-connector-python>=8.0.18
mysqlclient>=1.4.4
pytest>=4.6.5
pytest-cov
pytest-faker
pytest-mock
pytest-timeout
pytimeparse>=1.1.8
simplejson>=3.16.0
six>=1.12.0
sqlalchemy>=1.3.7
sqlalchemy-utils>=0.34.2
tox
tqdm>=4.35.0