atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
docker==4.0.2
factory-boy==2.12.0
Faker==2.0.1
idna==2.8
importlib-metadata==0.19
more-itertools==7.2.0
packaging==19.1
pluggy==0.12.0
py==1.8.0
pyparsing==2.4.2
pytest==5.1.1
pytest-cov==2.7.1
pytest-faker==2.0.0
pytest-mock==1.10.4
python-dateutil==2.8.0
requests==2.22.0
SQLAlchemy==1.3.7
SQLAlchemy-Utils==0.34.2
text-unidecode==1.2
urllib3==1.25.3
wcwidth==0.1.7
websocket-client==0.56.0
zipp==0.5.2
-r requirements.txt